API_ID="28842223"
API_HASH="8cd30f64fc3f5a6f6c0ab1fd9d18e657"
BOT_TOKEN="7375855049:AAFNmyorGL389MfAnvvzz8TESVvw3BIy6gQ"
SESSION_STRING="1BVtsOIQBux6rqRtl256BFLWd1HLriu2qK4EtjuEJOprppGhC5gSiIYFYfTS_eCYPsWY3-Lu9ipGPEUxT_82TMXo_fGcP_RyV6S5qkGPKRSFiLAxgOyOgtQUHWnAXpsEC-tpSwDUmACkY8_gc035wlJACOksLsnZ-i7I_yjh_geFkhNbIXVYMTORGjsnsMSJ5k-hnAOBA72Egwgu86yIlD94zQrAJd3uepqu7lTCCv7tYoNhRBesjb1I_ljgn8wp9vyp0kl0WfKKMdd2H8oCY2Ikp8_owy6o6BAvVt0zYmU-ApU2aRS4jlKxEh_NK7oBMpb01Vsn3gk34EXYkfg6BkaEHaiWvJEs="
CHAT="-1002063513812"
ADMINS="@ThomasShelbysosia"
